
<% provide(:title, 'Home') %>

<button class ="highlighted">Recent Posts</button>
  <button><%= link_to "Selected Posts", root_path %></button>
  <button><%= link_to "My Setting", current_user %></button>
<div class="newsfeed">


<% if @microposts.any? %>
  <h3>News feed</h3>
  <ol class="microposts">
    <%= render @microposts %>
  </ol>
  <%= will_paginate @microposts, inner_window: 1, outer_window: 1 %>
  <% end %>
</div>

<div class="sidebar">
    <div id="heading">
      Recent members
    </div>
    
  </div> 
  <div class="sidebar">
    <div id="heading">
      Topic
    </div>
    <a class="buttonbox">All</a>
    <a class="buttonbox">VR</a>
    <a class="buttonbox">RMIT</a>
    <a class="buttonbox">Game</a>
    <a class="buttonbox">Rails</a>
    <a class="buttonbox">Go/a>
    <a class="buttonbox">Web</a>
    <a class="buttonbox">M.L</a>
    <a class="buttonbox">Joke</a>
    <a class="buttonbox">Rest</a>
    <a class="buttonbox">Vue</a>
    <a class="buttonbox">Node</a>
    <a class="buttonbox">iOS</a>
    <a class="buttonbox">AWS</a>
  </div>
  <div class="postbar">
    <div id="heading">
      <h5>Post</h5>
      <% @top_five.each do |micropost| %>
       <%= micropost.content %>
       <br>
      <% end %>
    </div>
  </div>
  <div class="sidebar">
    <div id="heading">
      Links
    </div>
      <a class="buttonbox">Rails</a>
      <a class="buttonbox">RMIT</a>
      <a class="buttonbox">Docs</a>
  </div>



  </div>
  
  




