<li id="micropost-<%= micropost.id %>">
    <%= link_to gravatar_for(micropost.user, size: 50), micropost.user %>
    <span class="content"><%= micropost.content %></span>
    <span class="user"><%= link_to micropost.user.name, micropost.user %> <%= micropost.created_at %> </span>
</li>